/* Line numbers moved to the left */
.cm-gutters {
	margin-left: -2em;
	margin-inline-end: 1.5em;
	font-size: var(--font-ui-small)
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
	padding: 0em;
}

.cm-gutters {
	position: relative;
}

.cm-gutter {
	position: absolute;
	top: 0;
	right: 0;
}

/* Color Changes */
.cm-gutter > .cm-active {
	font-weight: bold;
	color: var(--text-accent);
}
