.dotfiles/MEGA/Obsidian\ Vault/.obsidian/workspace.json
.dotfiles/.config/nvim/lazy-lock.json
.dotfiles/MEGA/Obsidian\ Vault/.obsidian/plugins/google-calendar/data.json
.dotfiles/MEGA/Obsidian\ Vault/.obsidian/plugins/*/*.js
.dotfiles/MEGA/Obsidian\ Vault/.obsidian/plugins/*/*.css
.dotfiles/MEGA/Obsidian\ Vault/.obsidian/plugins/*/manifest.json
.dotfiles/MEGA/Obsidian\ Vault/.obsidian/themes
.direnv
